<% if( post["name"] == "News") {%>
    <a class="badge bg-primary" href="/news"><%- post["name"] %></a>
    <%} else if( post["name"] == "Politics") {%>
    <a class="badge bg-secondary" href="/politics"><%- post["name"] %></a>
    <%} else if( post["name"] == "Sport") {%>
    <a class="badge bg-success" href="/sport"><%- post["name"] %></a>
    <%} else if( post["name"] == "Culture") {%>
    <a class="badge bg-info" href="/culture"><%- post["name"] %></a>
    <%} else if( post["name"] == "Covid") {%>
    <a class="badge bg-danger" href="/covid"><%- post["name"] %></a>
    <%} -%>